.form-div {
	max-width: 400px;
	padding: 15px;
	margin: 0 auto;
	position:relative;
	top: 75px;
}

.post {
	padding:15px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.break-h{
	word-wrap: break-word;
}

.red-heading {
	background-color:#7c151d !important;
	color: #ecf0f1 !important;
}

.date-control {
	z-index: 100000;
}

.red-pageheader {
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

div.no-margin {
	margin: 0px;
	height: 30px;
}

body {
	background-color: #f2f2f4;
}

.top-buttons {
	position: relative;
	top: -8px;
}

a.white-link {
	color: #ecf0f1;	
	cursor:pointer;
}

input.readOnly {
	background-color:#A6373F !important;
	color: #ecf0f1;	
}

#register {
	position:relative;
	top: 5px;
}

#eventTable {
	table-layout:fixed;
}

table#eventTable td {
	word-wrap:break-word;
}

td.removeCol {
	width:50px;
	overflow:hidden;
	display: inline-block;
	white-space: nowrap;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px;
	font-size: 18px;
}

input.top {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

input.middle {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

input.bottom{
	margin-bottom: 15px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.fc-view-container {
	background-color:#fff;
}

.form-signin input[type="submit"] {
	background-color:#A6373F;
}

.form-signin input[type="submit"]:active {
	background-color:#7C151D;
}
.navbar-default {
	background-color: #7c151d;
	border-color: #a6373f;
	border-radius:0 !important;
	-moz-border-radius: 0 !important;
}
.navbar-default .navbar-brand {
	color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #f8e7e8;
}
.navbar-default .navbar-text {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #f8e7e8;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #f8e7e8;
	background-color: #a6373f;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #f8e7e8;
	background-color: #a6373f;
}
.navbar-default .navbar-toggle {
	border-color: #a6373f;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #a6373f;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ecf0f1;
}
.navbar-default .navbar-link {
	color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
	color: #f8e7e8;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #f8e7e8;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #f8e7e8;
		background-color: #a6373f;
	}
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 250;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.twitter-typeahead {
	display: block !important;
}